@import '../../utils/variables.scss';

.detail {
    position: fixed;
    top: 60px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: url("https://i0.wp.com/www.myboysen.com/wp-content/uploads/2019/06/PaintingIdeas-Cool-and-Warm-Colors-Feature.jpg?fit=1309%2C603&ssl=1");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: center;
    justify-content: center;

    .detail_card {
        position: absolute;        
        top: 0;
        margin-top: 60px;
        width: 300px;
        height: max-content;
        box-shadow: 0 0 10px $grey_darker;
    
        .data_wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 40px;

            .email_wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
            p {
                align-self: flex-start;
                font-size: 18px;
                font-weight: 600;
            }
        }

        .button_wrapper {
            margin-bottom: 40px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            gap: 30%;

            @mixin button($color) {
                width: fit-content;
                height: fit-content;
                text-decoration: none;
                border: 2px solid $white;
                padding: 10px;
                text-transform: uppercase;
                background-color: $color;
                border-radius: 26px;
                font-weight: 600;
                font-size: 15px;
                cursor: pointer;
            }
        
            .delete_button {
                @include button($delete);
                
                &:active {
                    margin-top: 2px;
                }
            }
        
            .edit_button {
                @include button($edit);

                &:active {
                    margin-top: 2px;
                }
            }
        }
    }

    .back_button {
        position: absolute; 
        border: 2px solid $white;
        text-decoration: none;
        padding: 15px;
        text-transform: uppercase;
        background-color: $color404_1;
        color: $white;
        border-radius: 26px;
        transition: all 0.1s ease-in-out;
        bottom: 5%; 
        font-weight: 700; 
        font-size: 20px; 
        cursor: pointer;

        &:hover {
            background-color: $white;
            color: $color404_1;
            transition: all 0.1s ease-in-out;
        }

        &:active {
            bottom: 4.3%;
        }
    }
}