@import '../../utils/variables.scss';

.item {
    width: auto;
    background-color: $grey_darker;
    border-radius: 6px;
    margin: 0px 20% 3%;
    padding: 15px 20px 15px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;

    @media only screen and (min-width: 480px) and (max-width: 768px) {
        font-size: 18px;
        margin: 0px 9% 5%;
        padding: 10px 20px 5px;
    }
}