.home {
    position: fixed;
    top: 60px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: url("http://cdn26.us1.fansshare.com/photo/gradientwallpapers/minimal-gray-to-white-gradient-wallpapers-hd-wfzwhw-backgrounds-42096694.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}