@import '../../utils/variables.scss';

.home {
    position: absolute;
    top: 60px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: url("https://img.freepik.com/free-vector/winter-light-blue-gradient-vector-background_53876-126054.jpg?t=st=1657272967~exp=1657273567~hmac=f3d12457267b31848e0cfaae673739815bd7049a96eddbaac4659f63faa3b116&w=1380");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pages_container {
    position: absolute;
    font-size: 40px;
    font-weight: 900;
    width:fit-content;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 1%;
    display: flex;
    flex-direction: row;

    .pages {
        color: $red;
    }

    button {
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .left_arrow, .right_arrow {
        margin-top: 5px;
        width: 24px;
        height: 24px;

        @media only screen and (min-width: 480px) and (max-width: 768px) {
            width: 32px;
            height: 32px;
        }
    }

    .right_arrow {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    @media only screen and (min-width: 480px) and (max-width: 768px) {
        font-size: 45px;
        bottom: 2.5%;
    }
}