@import url(https://fonts.googleapis.com/css?family=Raleway:700);
@import '../../utils/variables.scss';

.background_404 {
    background: url(https://i.imgur.com/76NZB7A.gif) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    background-color: $color404_2;
    margin-left: -8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title_404 {
        font-size: 6em;
        font-weight: 700;
        color: $color404_1;
    }

    .subtitle_404 {
        font-size: 40px;
        font-weight: 700;
        color: $color404_3;
    }

    .button_wrapper_404 {
        margin: 30px;

        a {
            font-weight: 700;
            border: 2px solid $color404_1;
            text-decoration: none;
            padding: 15px;
            text-transform: uppercase;
            color: $color404_1;
            border-radius: 26px;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: $color404_1;
                color: white;
                transition: all 0.2s ease-in-out;
            }
        }
    }
}