$color404_1: #EE4B5E;
$color404_2: #342643;
$color404_3: #1f8dd6;
$alert_background: #fbd3db;
$alert_border: #f3bdc3;
$alert_color: #7b2735;
$grey: #ffffff41;
$grey_darker: #00000066;
$red: #880a0a;
$purple: #ab44e7;
$white: #ffffff;
$black: #000000;
